@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
      padding-top: 150px;
      background-color: #F19455;
      color: white;
    }
</style>

<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="container"  style="padding-bottom: 75px;">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Unsupervised Data Analysis</h2>
                <p>We conducted an analysis on the current information we have of mummies from previous excavations. Our goal was to either support or refute this working hypothesis: Have burial practices changed over time?</p>
                <p>Here are our findings:</p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                        <img src="~/img/data/newplot(8).png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                            <a href="~/img/data/newplot(8).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                <p>Interestingly, the data clearly shows a dramatic change in burial practices related to which direction the mummy faces. For a long period, mummies were buried with their heads facing both the east and the west. Then, at a certain burial depth, the mummies completely switch to a head direction of west. </p>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                        <img src="~/img/data/newplot(17).png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                            <a href="~/img/data/newplot(17).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                <p>We were also able to determine that there was a noticable period of time, in the deepest burials, where the mummies are all adults. Then, there is a clear change and mummified children and infants appear in the cemetary burials as well. </p>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                        <img src="~/img/data/newplot(12).png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                            <a href="~/img/data/newplot(12).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                <p>Unrelated to our hypothesis, we also discovered that the only mummies linked to at least one textile are women.</p>
                </div>

            </div>
        </div>
    </div>
</div>