@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
      padding-top: 150px;
      background-color: #F19455;
      color: white;
    }
</style>

<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="container"  style="padding-bottom: 75px;">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Unsupervised Data Analysis</h2>
                <p>We have uncovered several artifacts during our excavations. Many of which may hint at a history of Christianity around the Roman period. Have a look at some of the artifacts and textiles below.</p>
            </div>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/data/.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                    <a href="~/img/data/.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/data/.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                    <a href="~/img/data/.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/data/.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                    <a href="~/img/data/.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/img/data/.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                    <a href="~/img/data/.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>