@{
}
<h1>This thing was created</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<form asp-action="DisplayData" asp-controller="DisplayData">
    <button type="submit" class="btn btn-primary">Return to list</button>
</form>
<br />
<br />
<br />