@{
}
<style>
    body {
      padding-top: 150px;
      background-color: #283845;
      color: white;
    }
</style>
<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="row"  style="padding-bottom: 75px;">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2 style="color:white;">New Record Created Successfully</h2>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <form asp-action="DisplayData" asp-controller="DisplayData">
                <button type="submit" class="btn btn-primary text-center">Return to list</button>
            </form>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>