@{
    var bmId = ViewData["BmId"] as long?;
}
<h1>Mummy successfully removed.</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<form asp-action="DisplayData" asp-controller="DisplayData">
    <button type="submit" class="btn btn-primary">Return to list</button>
</form>
<br />
<br />
<br />