@{
    var bmId = ViewData["BmId"] as long?;
}
<style>
    body {
      padding-top: 150px;
      background-color: #283845;
    }
</style>
<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="row"  style="padding-bottom: 75px;">
            <h1>Mummy successfully removed.</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <form asp-action="DisplayData" asp-controller="DisplayData">
                <button type="submit" class="btn btn-primary">Return to list</button>
            </form>
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
