@*
*@
@{
}
@model DisplayDataViewModel

<style>
    body {
      padding-top: 150px;
      background-color: #283845;
      color: white;
    }
</style>

<div class="row"  style="padding-bottom: 75px;">
    @foreach (var b in Model.burialmain)
    {
        <partial name="MummySummary" model="b"/>
    }

    <div class="row m-1 p-1">
        <div class="col-3">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Search By Year
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div>
                                <vc:Filter></vc:Filter>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-9">
    @foreach (var b in Model.burialmain)
    {
        <partial name="MummyCard" model="b"/>
    }

    <div page-model="@Model.PageInfo" page-action="DisplayData"></div>

    <br />
    <br />
    <br />
</div>
