@*
*@
@{
}
@model DisplayDataViewModel

<style>
    body {
      padding-top: 150px;
      background-color: #283845;
    }
</style>

<div class="row"  style="padding-bottom: 75px;">
    <vc:Filter></vc:Filter>
    <div class="col-9">
@foreach (var b in Model.burialmain)
{
    <partial name="MummyCard" model="b"/>
}
        <div page-model="@Model.PageInfo" page-action="DisplayData"></div>

    <br />
    <br />
    <br />
</div>
</div>
