@*
*@
@{
}
@model DisplayDataViewModel

@foreach (var b in Model.burialmain)
{
    <partial name="MummySummary" model="b"/>
}

<div page-model="@Model.PageInfo" page-action="DisplayData"></div>

<br />
<br />
<br />
