@*
*@
@{
}
@model DisplayDataViewModel

<style>
    body {
      padding-top: 150px;
      background-color: #283845;
      color: white;
    }
</style>

<div class="row"  style="padding-bottom: 75px;">
    @foreach (var b in Model.burialmain)
    {
        <partial name="MummySummary" model="b"/>
    }

    <div page-model="@Model.PageInfo" page-action="DisplayData"></div>

    <br />
    <br />
    <br />
</div>
