@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
      padding-top: 150px;
      background-color: #F2D492;
      color: white;
    }
</style>

<div style="padding-left:50px;">
    <div style="padding-right:50px;">
        <div class="row"  style="padding-bottom: 75px;">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Role Manager</h2>
            </div>
            <form method="post" asp-action="AddRole" asp-controller="RoleManager">
                <div class="input-group">
                    <input name="roleName" class="form-control w-25">
                    <span class="input-group-btn">
                        <button class="btn btn-mummy">Add New Role</button>
                    </span>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>